<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div class="big-card">
      <app-big-card
        imgSrc="{{ bigCardNotice.imgSrc }}"
        titleNotice="{{ bigCardNotice.titleNotice }}"
        resumeNotice="{{ bigCardNotice.resumeNotice }}"
        idNotice="{{ bigCardNotice.idNotice }}"
      ></app-big-card>
    </div>
    <div class="small-card">
      <app-small-card
        *ngFor="let notice of smallCardNotices"
        imgSrc="{{ notice.imgSrc }}"
        titleNotice="{{ notice.titleNotice }}"
        resumeNotice="{{ notice.resumeNotice }}"
        idNotice="{{ notice.idNotice }}"
      ></app-small-card>
    </div>
  </body>
</html>
